<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.ProductMapper">
	<select id="productList" resultType="com.yedam.vo.TestVO">
		select * from tbl_product
	</select>

	<select id="selectProduct" resultType="com.yedam.vo.TestVO"
		parameterType="String">
		select * from tbl_product
		where prod_code = #{prodCode}
	</select>

	<select id="productListPaging" parameterType="com.yedam.common.SearchVO">
		    select r.*
   			from (
        		select rownum rn, a.*
        		from (
		            select *
		            from tbl_product p
           			order by p.prod_code desc) a
           <![CDATA[
        where rownum <= (#{page} * 16)) r
        ]]>
    where r.rn > (#{page} - 1) * 16
	</select>
	       
	<select id="getTotalCnt" resultType="int"
		parameterType="com.yedam.common.SearchVO">
		select count(1) from tbl_product
	</select>
</mapper>